<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... (your meta tags and other head elements) ... -->
    <title>Main</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Analyze your data here!!</h1>
    <div>
        <h2>{{ clean }}</h2>
        <form method="post" enctype="multipart/form-data" id="file-upload">
            {% csrf_token %}
            <label for="file_">Upload your data here</label>
            <input id="file_" type="file" name='uploaded-file' accept=".csv, .json, .xlsx"/>
            <!-- <input type="submit" value="Upload"> -->
        </form>
        <div>
            <select name="chart-type" id="chart-type" class="">
                <option value="">Chart type</option>
            </select>
        </div>
        <div class="drop-menu">
            <div id="x-axis">
                <select id="x-columns" name="x-columns" class="options">
                    <option value="" disabled selected hidden>Select an option</option>
                </select>
            </div>
            <div id="y-axis">
                <select id="y-columns" name="y-columns" class="options">
                    <option value="">Select an option</option>
                </select>
            </div>
        </div>
        <!-- Add an empty div to hold the chart -->
        <div id="chart-container">
            <canvas id="chart" width="200px" height="200px"></canvas>
        </div>
    </div>

    <!-- <script>
        $(document).ready(function() {
            function handleFormSubmission(event) {
                event.preventDefault(); // Prevent the default form submission
    
                // Create a FormData object and append the file data
                var formData = new FormData();
                formData.append('uploaded-file', $('#file_')[0].files[0]);
    
                // Send an AJAX request to your Django view to get cleaned data
                $.ajax({
                    url: window.location.href,
                    type: 'POST',
                    data: formData,
                    processData: false, // Prevent jQuery from converting the data to a string
                    contentType: false, // Ensure the content type is set to multipart/form-data
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.data) {
                            console.log(response.data); // Log the response.data
                        }
                    },
                    error: function(err) {
                        console.log('AJAX request failed:', err);
                    }
                });
            }
    
            // Attach the form submission event to the form element
            $('#file-upload').submit(handleFormSubmission);
        });
    </script> -->
    
    <script>
        var previousChart = null;
        let chartType = 'scatter';
        let chartData = getRandomData();
        var chartOptions = ['scatter', 'bar', 'pie', 'line'];




        
        const typeChange = document.querySelector('#chart-type');
        typeChange.addEventListener('change', ()=>{
            console.log(typeChange.options[typeChange.selectedIndex].value);

            chartType = typeChange.options[typeChange.selectedIndex].value;
            
            const ctx = document.getElementById('chart').getContext('2d');
            createChart(chartType,chartData,ctx);
        });

        function populateChartTypes(options) {
            var select = $('#chart-type');
            select.empty();  // Clear existing options

            select.append($('<option>').val("select-chart").text("select-chart"));

            $.each(options, function(index, option) {
                select.append($('<option>').val(option).text(option));
            });
        }

        function getRandomData() {
            // Generate random data for demonstration
            var x = [];
            var y = [];
            for (let index = 0; index < 30; index++) {
                x.push(Math.floor(Math.random() * 100)); 
            }
            for (let index = 0; index < x.length; index++) {
                y.push(Math.floor(Math.random() * 101))  
            }

            var regression = linearRegression(x, y);
            return {
                datasets: [{
                    label: 'Linear Regression',
                    data: x.map((x, i) => ({ x, y: regression.equation[0] * x + regression.equation[1] })),
                    showLine: true,
                    borderColor: 'blue',
                }, {
                    label: 'Data Points',
                    data: x.map((x, i) => ({ x, y: y[i] })),
                    pointBackgroundColor: 'red',
                }],
            };
        }

        function createChart(type, data, ctx) {
            if (previousChart) {
                previousChart.destroy();
                previousChart = null;
            }
            chart = new Chart(ctx, {
                type: type,
                data: data,
                options: {
                responsive: true,
                scales: {
                    x: {
                    ticks: {
                        font: {
                        size: 16 
                        }
                    }
                    },
                    y: {
                    ticks: {
                        font: {
                        size: 16
                        }
                    }
                    }
                }
                },
            });

            previousChart = chart;
        }

        function updateChart(data){

            // select x-column
            var x= document.querySelector("#x-columns");
            x = x.options[x.selectedIndex].value;
            
            // select y-column
            var y= document.querySelector("#y-columns");
            y = y.options[y.selectedIndex].value;

            // get chartData
            if(chartType === 'scatter'){
                var xValues = Object.values(data[x]);
                var yValues = Object.values(data[y]);

                console.log("chart-type scatter");
                chartData = linearRegData(xValues, yValues);
            }
            else if(chartType === 'bar'){
                console.log("chart-type bar");
                chartData = categoricalData(data);
            }
            else if(chartType === 'pie'){
                chartData = quantitativeData(data);
            }
            else if(chartType === 'line'){
                console.log(x,y);
                chartData = timeOrTrendData(data, x, y);
            }

            console.log(chartType, chartData);
            // create the chart
            const ctx = document.getElementById('chart').getContext('2d');
            createChart(chartType, chartData, ctx);
        }
        
        const linearRegData = (xValues, yValues) => {
            var regression = linearRegression(xValues, yValues);
            return {
                datasets: [{
                    label: 'Linear Regression',
                    data: xValues.map((x, i) => ({ x, y: regression.equation[0] * x + regression.equation[1] })),
                    showLine: true,
                    borderColor: 'blue',
                }, {
                    label: 'Data Points',
                    data: xValues.map((x, i) => ({ x, y: yValues[i] })),
                    pointBackgroundColor: 'red',
                }],
            }
        }

        const categoricalData = (data) => {

            var sums = {};

            // Iterate through the keys of the outer object
            Object.keys(data).forEach(function(key) {
                sums[key] = 0; // Initialize the sum to 0

                // Iterate through the values of the inner object
                Object.values(data[key]).forEach(function(value) {
                    if (typeof value === 'number') {
                        sums[key] += value; // Sum the numeric values
                    } else if (value === true) {
                        sums[key]++; // Count the 'true' values
                    }
                });
            });
            

            return {
                labels: Object.keys(sums),
                datasets: [{
                    label: 'Categorical Data',
                    data: Object.values(sums),
                    backgroundColor: 'blue', // Customize the background color
                }],
            };
        }

        const quantitativeData = (data) =>{
            // Extract labels from outer keys if the value is numeric
            const labels = Object.keys(data).filter(key => {
                return typeof Object.values(data[key])[0] === 'number';
            });

            // Calculate sums for each outer key
            const sums = labels.map(label => {
                return Object.values(data[label]).reduce((sum, value) => sum + value, 0);
            });


            console.log("data set for quantitative analysis",labels,sums);

            return {
                labels: labels,
                datasets: [{
                    label: "Quantative Data",
                    data: sums,
                    backgroundColor: ['red', 'green', 'blue'],
                }],
            }
        }

        const timeOrTrendData = (data, x="select-an-option", y="select-an-option") => {
            if(x!="select-an-option" && y!="select-an-option"){
                return {
                    labels:Object.values(data[x]),
                    datasets:[{
                        label: x +" vs "+ y,
                        data: Object.values(data[y]),
                        backgroundColor:getRandomColor(),
                    }],
                };
            }

            var labels = [];
            var datasets = [];

            Object.keys(data).forEach(function(key) {
                var values = data[key];

                // Check if the key resembles a date or time
                if (/date|time|year|month|day/i.test(key)) {
                    if (isValidDate(values[0])) {
                        labels = Object.values(key);
                    }
                } 

                // Check if the values are numeric
                if (typeof values[0] === 'number' && !isNaN(values[0])) {
                    datasets.push({
                        label: key,
                        data: Object.values(values),
                        backgroundColor:getRandomColor(),
                    });
                }
            });

            console.log(labels,datasets);

            return {
                labels:labels,
                datasets:datasets,
            };
        }





        function isValidDate(dateString) {
            var date = new Date(dateString);
            var timePattern = /^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/;
            return !isNaN(date) || timePattern.test(dateString);
        }

        // Function to generate random colors
        function getRandomColor() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        $(document).ready(function() {

            const ctx = document.getElementById('chart').getContext('2d');
            createChart(chartType, chartData, ctx);

            // populate chart-type options
            populateChartTypes(chartOptions);

            function handleFileChange(event) {
                // Create a FormData object and append the file data
                var formData = new FormData();
                formData.append('uploaded-file', event.target.files[0]);
    
                // Send an AJAX request to your Django view to get cleaned data
                $.ajax({
                    url: window.location.href,
                    type: 'POST',
                    data: formData,
                    processData: false, // Prevent jQuery from converting the data to a string
                    contentType: false, // Ensure the content type is set to multipart/form-data
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        var data = JSON.parse(response.data);

                        if (data) {
                            console.log(data); // Log the response.data
                            var columns = Object.keys(data);
                            populateOptions(columns);

                            const optionChange = document.querySelectorAll(".options, #chart-type");
                            optionChange.forEach(option => {
                                option.addEventListener('change', ()=>{
                                    updateChart(data);
                                });
                            });

                        }
                    },
                    error: function(err) {
                        console.log('AJAX request failed:', err);
                    }
                });
            }
    
            // Attach the file change event to the file input element
            $('#file_').on('change', handleFileChange);
        });


        function populateOptions(options) {
            var select = $('.options');
            select.empty();  // Clear existing options

            select.append($('<option>').val("select-an-option").text("select-an-option"));

            $.each(options, function(index, option) {
                select.append($('<option>').val(option).text(option));
            });
        }

        // Function to calculate linear regression
        function linearRegression(x, y) {
            var n = x.length;
            var sumX = x.reduce((a, b) => a + b, 0);
            var sumY = y.reduce((a, b) => a + b, 0);
            var sumXY = x.map((xi, i) => xi * y[i]).reduce((a, b) => a + b, 0);
            var sumX2 = x.map(xi => xi ** 2).reduce((a, b) => a + b, 0);
            var slope = (n * sumXY - sumX * sumY) / (n * sumX2 - sumX ** 2);
            var intercept = (sumY - slope * sumX) / n;
            return { equation: [slope, intercept] };
        }

    </script>
    
    
</body>
</html>
